// variables
$main_color: hsl(282, 44%, 47%);
$black: hwb(0 13% 87%);
$white: hsl(0, 0%, 100%);
$light_black: #777;
$light_white: #fff9;
$dark_bg: rgba(hsl(0, 0%, 0%), .7);
$light_bg: hsl(0, 0%, 93%);
$border: 0.1rem solid $black;
$box-shadow: 0 0.5rem 1rem rgba(hsl(0, 0%, 0%), 0.1);
$text_shadow: 0 1.5rem 3rem rgba(hsl(0, 0%, 0%), 0.3);
$main_transition: 0.3s linear all;